@charset "utf-8";
@media only screen and (max-width: 375px){
    html
    {
     scroll-behavior: smooth; 
    }
    body
    {
      margin: 0px;
      padding: 0px;
      width: 375px;
      height: 2000px; 
      
    }
    div.logo{
        text-align: center;
        box-shadow:2px 2px 12px rgba(0,0,0,0.3);
        width: 375px;
        margin-left: -7px;
        padding: 15px;
        padding-bottom: 5px;
        margin-bottom: 1.5px;
    }
    .logo img
    {
        width: 150px;
    }
    .logo i{
        float: left;
    }
    .logo a{
        text-decoration: none;
        color:black;
    }
    
    .location
    {
       text-align: center;
       background-color: #eaeaea;
       padding: 10px;
        color:#575757;
         width: 100%;
    }
    .location i
    {
        margin-right: 5px;
        color: black;
    }
   div.discover
    {    
        background-color: #f6f6f6;
        text-align: center;
        width:100%;
        padding: 10px;
    }
    .discover h2 {
        margin:0px;
        padding: 15px;
    }
    .discover span{
        font-size: 24px;
    }
    .discover button{
        color:white;
         background-image: linear-gradient(#FF79DA, #9356DC);
        border: none;
        padding:15px;
        margin-top:25px;
        margin-bottom: 30px;
        border-radius: 25px;
         box-shadow:2px 2px 12px rgba(0,0,0,0.3);
    }
     h2{
        padding:20px;
    }
    .flex-container {
     display: flex;
     flex-wrap: wrap;
     padding:0px 20px; 
    width: 100%;    
    }

    .flex-container > div {
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    width:275px;
     box-shadow:0px 0px 12px  rgba(0,0,0,0.2);
}
    .flex-container div b{
    background-color:#9356DC;
    border-radius: 25px;
    padding: 10px;
    margin-left: -20px;
    color:white;
    font-size: 15px;
    padding: 2px 6.5px;
}
    .flex-container div i{
      margin:0px 10px;    
    }
    .flex-container > div:hover
    {
    background-color: #e4d5f6;
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    width:275px;
    box-shadow:0px 0px 12px  rgba(0,0,0,0.2);
    color:#9356DC;    
}
    .flex-container > div strong{
        color:black;
    }
    .section2{
        height: 1050px;
        background-color: #f6f6f6;
        width:375px;
       
    }
    .section2 div{
        width: 300px;
        height: 170px;
         border-radius: 15px;
        cursor: pointer;
        margin-left: -3px;
    }
    .section2 .restaurant1
    {
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-size: cover;
        background-position: bottom; 
    }
    .section2 .restaurant1 p1{
        background-color: #99e2d0;
        padding: 0px 13px;
        float: right;
        font-size: 18px;
        margin-top: -5px;
        color:#227762;
    }
      .section2 .restaurant2
    {
         background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-size: cover;
        background-position: bottom; 
    }
    .section2 .restaurant2 p1{
        background-color: #99E2D0;
        padding: 0px 13px;
        float: right;
        font-size: 18px;
        margin-top: -5px;
        color:#227762;
    }
      .section2 .restaurant3
    {
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-size: cover;
        background-position: bottom; 
    }
      .section2 .restaurant4
    {
        background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-size: cover;
        background-position: bottom; 
    }
    .section2 p{
        background-color: white;
        font-size: 18px;
        width: 285px;
        height:50px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-left: -15px;
        margin-top: 135px;
        padding:10px;
    }
    .section2 a{
        text-decoration: none;
        color: black;
    }
    .section2 p img{
        float: right;
        width: 25px;
        height: 24px;
        margin-top: -10px;
    }
    .flex-container2 {
     display: flex;
     flex-wrap: wrap;
     padding:0px 20px; 
    width: 100%;    
    }

    .flex-container2 >div {
        display: block;
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    width:275px;
     box-shadow:0px 0px 12px  rgba(0,0,0,0.2);
}
    footer{
        background-color: #353535;
        height:350px;
        width:350px;
        padding: 0px 20px;
        color: white;
    }
    footer img{
        width:100px;
        color:white;
        margin:0px 20px;
        margin-top: 20px;
    }
    footer p {
        margin:20px;
        font-size: 20px;
    }
    
    footer p i{
        margin: 0px 5px;
    }
}
